<LumexAccordion>
    <LumexAccordionItem Id="1"
                        Title="General Settings"
                        Subtitle="Custom display, sound, privacy, connectivity, updates">
        <StartContent>
            <span class="h-8 w-8 flex items-center justify-center bg-primary text-zinc-50 rounded-lg ring ring-primary/30">
                <LumexIcon Icon="@Icons.Rounded.Settings"
                           Color="@ThemeColor.None" />
            </span>
        </StartContent>
        <ChildContent>
            @_content
        </ChildContent>
    </LumexAccordionItem>
    <LumexAccordionItem Id="2"
                        Title="Advanced Settings"
                        Subtitle="Detailed system, developer, security, network, diagnostics">
        <StartContent>
            <span class="h-8 w-8 flex items-center justify-center bg-secondary text-zinc-50 rounded-lg ring ring-secondary/30">
                <LumexIcon Icon="@Icons.Rounded.Manufacturing"
                           Color="@ThemeColor.None" />
            </span>
        </StartContent>
        <ChildContent>
            @_content
        </ChildContent>
    </LumexAccordionItem>
    <LumexAccordionItem Id="3"
                        Title="Personal Data"
                        Subtitle="Contacts, messages, photos, account info, preferences">
        <StartContent>
            <span class="h-8 w-8 flex items-center justify-center bg-danger text-zinc-50 rounded-lg ring ring-danger/30">
                <LumexIcon Icon="@Icons.Rounded.ManageAccounts"
                           Color="@ThemeColor.None" />
            </span>
        </StartContent>
        <ChildContent>
            @_content
        </ChildContent>
    </LumexAccordionItem>
</LumexAccordion>

@code {
    private RenderFragment _content =>
    @<text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</text>;
}