@namespace LumexUI
@typeparam TValue
@inherits LumexInputBase<TValue>

<LumexInput @ref="@_inputReference"
             @attributes="@AdditionalAttributes"
             Class="@Class"
             Label="@Label"
             Size="@Size"
             Type="@Type"
             Mode="@Mode"
             Value="@CurrentValueText"
             Instant="@Instant"
             Pattern="@Pattern"
             Required="@Required"
             Disabled="@Disabled"
             ReadOnly="@ReadOnly"
             Autofocus="@Autofocus"
             Placeholder="@Placeholder"
             LabelPlaceholder="@LabelPlaceholder"
             ContentStart="@ContentStart"
			 ContentEnd="@ContentEnd"
             OnBlur="@InvokeOnBlurAsync"
             OnKeyUp="@InvokeKeyUpAsync"
             OnKeyDown="@InvokeKeyDownAsync"
             ValueChanged="@SetCurrentValueTextAsync">
    <InputContent>
        @if (ShowArrows)
        {
            <div class="lumex-input-field-spin">
                <button type="button" class="lumex-button" title="Increase" tabindex="-1" @onclick="Increment">
                    <span class="material-symbols-outlined">keyboard_arrow_up</span>
                </button>
                <button type="button" class="lumex-button" title="Decrease" tabindex="-1" @onclick="Decrement">
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </button>
            </div>
        }
    </InputContent>
</LumexInput>