@page "/docs/getting-started/overview"
@namespace LumexUI.Docs.Client.Pages
@rendermode InteractiveAuto

<DocsPage Category="Getting Started" Title="Get Started with LumexUI">
    <Description>
        <p>
            LumexUI simplifies the process of building modern, responsive UIs in Blazor by providing a comprehensive set of components styled with TailwindCSS.
        </p>
        <p>It’s efficient, adaptable, and built with developer experience in mind.</p>
    </Description>

    <ChildContent>
        <DocsPageSection Title="Introduction">
            <p>
                LumexUI is an open-source project offering a collection of Blazor UI components fully built with TailwindCSS.
            </p>
            <p>
                These components are designed to be not only aesthetically pleasing but also highly customizable, allowing you to tailor them to meet your specific needs. The library is optimized for performance, ensuring that your applications remain fast and responsive.
            </p>
            <p>
                We would like to acknowledge NextUI, a React components library, for inspiring the foundational ideas behind LumexUI. Specifically, we were inspired by NextUI’s approach to using TailwindCSS, its beautiful design, and its robust customization system. Our goal is to bring these principles to the Blazor ecosystem, making them accessible to developers who prefer Blazor for their projects.
            </p>

            <Callout Variant="@CalloutVariant.Info">
                This project is currently in the development stage, and we welcome contributions from the community to help improve and expand the library. Your feedback and involvement are crucial as we continue to evolve and refine the components.
            </Callout>
        </DocsPageSection>

        <DocsPageSection Title="Advantages of LumexUI">
            <ul>
                @foreach( var feature in _features )
                {
                    <li>
                        <strong>@feature.Title. </strong>@feature.Description
                    </li>
                }
            </ul>
        </DocsPageSection>

        <DocsPageSection Title="Get started">
            <p class="max-w-screen-sm">
                <strong>Ready to dive in?</strong> Explore the documentation to learn how to integrate and use LumexUI in your Blazor projects.
            </p>

            <ul class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 not-prose">
                @foreach( var quickLink in _quickLinks )
                {
                    <QuickLink Icon="@quickLink.Icon"
                               Link="@quickLink.Link"
                               Title="@quickLink.Title"
                               Description="@quickLink.Description" />
                }
            </ul>
        </DocsPageSection>

        <DocsPageSection Title="Get involved">
            <p>
                As we continue to develop and expand this project, we invite you to contribute and help shape the future of LumexUI. Together, we can build a powerful and flexible UI toolkit for the Blazor community.
            </p>
        </DocsPageSection>
    </ChildContent>
</DocsPage>
