@namespace LumexUI
@inherits LumexComponentBase

<CascadingValue TValue="CheckboxGroupContext" Value="@_context" IsFixed="@true">
    <div class="@RootClass" 
         style="@RootStyle" 
         data-slot="base"
         @attributes="@AdditionalAttributes">
        @if( !string.IsNullOrEmpty( Label ) )
        {
            <span class="@LabelClass" data-slot="label">
                @Label
            </span>
        }

        <div class="@WrapperClass" data-slot="wrapper">
            @ChildContent
        </div>

        @if( !string.IsNullOrEmpty( Description ) )
        {
            <div class="@DescriptionClass" data-slot="description">
                @Description
            </div>
        }
    </div>
</CascadingValue>
