<div class="flex gap-3 items-center">
    <LumexBadge Content="5" Color="@ThemeColor.Default">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=2" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Primary">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=6" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Secondary">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=9" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Warning">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=11" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Success">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=12" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Danger">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=24" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Info">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=43" />
    </LumexBadge>
</div>