<div class="flex items-center gap-3">
    <LumexBadge Content="5" Color="@ThemeColor.Primary">
        <LumexAvatar Radius="@Radius.Medium"
                     Size="@Size.Large"
                     Src="https://i.pravatar.cc/150?img=2" />
    </LumexBadge>

    <LumexBadge Content="5" ShowOutline="@false" Color="@ThemeColor.Primary">
        <LumexAvatar Radius="@Radius.Medium"
                     Size="@Size.Large"
                     Src="https://i.pravatar.cc/150?img=6" />
    </LumexBadge>
</div>