<div class="flex gap-3 items-center">
    <LumexBadge Content="5" Color="@ThemeColor.Warning" Variant="@BadgeVariant.Solid">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=2" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Warning" Variant="@BadgeVariant.Flat">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=6" />
    </LumexBadge>

    <LumexBadge Content="5" Color="@ThemeColor.Warning" Variant="@BadgeVariant.Shadow">
        <LumexAvatar Radius="@Radius.Medium" Src="https://i.pravatar.cc/150?img=9" />
    </LumexBadge>
</div>