@namespace LumexUI
@inherits LumexComponentBase

<CascadingValue Value="@this" IsFixed="@true">
	<li @attributes="@AdditionalAttributes" @onclick="@HandleClick" class="@RootClass" style="@RootStyle">
		@ChildContent
	</li>
</CascadingValue>

@code {
	[CascadingParameter] public LumexDropdown Dropdown { get; set; } = default!;

	[Parameter] public RenderFragment? ChildContent { get; set; }

	[Parameter] public bool Submenu { get; set; }

	protected override string RootClass =>
		new CssBuilder( "lumex-dropdown-item" )
			.AddClass( base.RootClass )
		.Build();

	private void HandleClick()
	{
		if( Submenu )
		{
			return;
		}

		Dropdown.ToggleDropdown();
	}
}
