@namespace LumexUI.Docs.Components

<div class="ld-toc -ms-4 lg:ms-0">
    <h5 class="ms-6 mb-3 text-h6 text-medium lh-md">
        On this page
    </h5>

    <LumexNav Orientation="@Orientation.Vertical" Class="lh-md">
        @_renderTableOfContents
    </LumexNav>
</div>

@code {
    private void RenderTableOfContents( RenderTreeBuilder __builder )
    {
        foreach( var section in Sections )
        {
            <LumexNavItem Class="@(section.Level == 1 ? "ms-4" : default)">
                <LumexLink Route="@(section.Link)" Class="flex">
                    <div class="me-2">
                        <LumexIcon Icon="@Icons.Rounded.ChevronRight" Size="@Size.Small" />
                    </div>
                    @(section.Title)
                </LumexLink>
            </LumexNavItem>
        }
    }
}
