@namespace LumexUI.Docs.Components

<footer class="ad-footer text-sm flex align-center justify-between pt-8 pb-16 border-t">
    <div class="flex align-center g-2">
        <p>Was this page helpful?</p>

        <div class="flex g-2">
            <LumexIcon Icon="@Icons.Rounded.ThumbUp" Size="@Size.Small" />
            <LumexIcon Icon="@Icons.Rounded.ThumbDown" Size="@Size.Small" />
        </div>
    </div>

    <LumexLink Class="flex g-2 text-inherit text-no-underline">
        <LumexIcon Icon="@Icons.Brands.GitHub" Size="@Size.Small" ViewBox="0 0 100 100" />
        Edit on GitHub
    </LumexLink>
</footer>