<LumexStepper Orientation="@Orientation.Vertical" Class="ad-install-steps">
    @foreach( var step in Steps )
    {
        <LumexStep Class="ad-install-step">
            <StepHeader>@step.Title</StepHeader>
            <StepContent>
                <div class="lg:grid align-start g-10">
                    <div class="ad-install-step-description mb-6">
                        @step.Body
                    </div>
                    <CodeSnippet TabTitle="@step.FileName" Code="@step.CodeFile" />
                </div>
            </StepContent>
        </LumexStep>
    }
</LumexStepper>

@code {
    [Parameter] public Step[] Steps { get; set; } = Array.Empty<Step>();
}
