@namespace LumexUI
@inherits LumexBooleanInputBase

<LumexComponent As="label"
                Class="@RootClass"
                Style="@RootStyle"
                data-checked="@CurrentValue.ToAttributeValue()"
                data-disabled="@GetDisabledState().ToAttributeValue()"
                data-readonly="@GetReadOnlyState().ToAttributeValue()"
                tabindex="0"
                @attributes="@AdditionalAttributes">
    <span class="@StyleUtils.VisuallyHidden">
        <input type="checkbox"
               value="@true"
               checked="@CurrentValue"
               disabled="@GetDisabledState()"
               @onchange="@OnChangeAsync" />
    </span>

    <span class="@WrapperClass">
        @if( !string.IsNullOrEmpty( StartIcon ) )
        {
            <LumexIcon Icon="@StartIcon" Size="@(new("1em"))" Class="@StartIconClass" />
        }

        <span class="@ThumbClass">
            @{
                var thumbIcon = ThumbIcon?.Invoke( CurrentValue );
                if( !string.IsNullOrEmpty( thumbIcon ) )
                {
                    <LumexIcon Icon="@thumbIcon" Size="@(new("100%"))" Class="@ThumbIconClass" />
                }
            }
        </span>

        @if( !string.IsNullOrEmpty( EndIcon ) )
        {
            <LumexIcon Icon="@EndIcon" Size="@(new("1em"))" Class="@EndIconClass" />
        }
    </span>

    @if( ChildContent is not null )
    {
        <span class="@LabelClass">
            @ChildContent
        </span>
    }
</LumexComponent>
