@namespace LumexUI
@inherits LumexComponentBase
@typeparam T

<CascadingValue TValue="DataGridContext<T>" Value="@_context" IsFixed="@true">
    @{
        StartCollectingColumns();
    }

    @ChildContent

    <Defer>
        @{
            FinishCollectingColumns();
        }
        <div class="@_slots.Base" style="@RootStyle" @attributes="@AdditionalAttributes">
            <div class="@_slots.Wrapper">
                <table class="@_slots.Table">
                    <thead class="@_slots.Thead">
                        <tr class="@_slots.Tr">
                            @_renderColumnHeaders
                        </tr>
                    </thead>
                    <tbody class="@_slots.Tbody">
                        @if( Data is null || !Data.Any() )
                        {
                            @_renderEmptyContent
                        }
                        else
                        {
                            @_renderNonVirtualizedRows
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </Defer>
</CascadingValue>

@code {
    private void RenderNonVirtualizedRows( RenderTreeBuilder __builder )
    {
        var initialRowIndex = 2; // aria-rowindex is 1-based, plus the first row is the header
        var rowIndex = initialRowIndex;
        foreach( var item in _currentNonVirtualizedItems )
        {
            RenderRow( __builder, rowIndex++, item );
        }
    }

    private void RenderRow( RenderTreeBuilder __builder, int rowIndex, T item )
    {
        <tr class="@_slots.Tr" aria-rowindex="@rowIndex" @key="@item">
            @foreach( var col in _columns )
            {
                <td class="@_slots.Td" @key="@col">
                    @{
                        col.RenderCellContent( __builder, item );
                    }
                </td>
            }
        </tr>
    }

    private void RenderColumnHeaders( RenderTreeBuilder __builder )
    {
        foreach( var col in _columns )
        {
            <th class="@_slots.Th" scope="col" @key="@col">
                @{
                    col.RenderHeaderCellContent( __builder );
                }
            </th>
        }
    }

    private void RenderEmptyContent( RenderTreeBuilder __builder )
    {
        <tr>
            <td class="@_slots.EmptyWrapper" colspan="@(_columns.Count)">
                @if( EmptyContent is not null )
                {
                    @EmptyContent
                }
                else
                {
                    <text>No records available.</text>
                }
            </td>
        </tr>
    }
}