@namespace LumexUI
@inherits LumexComponentBase
@typeparam T

@using LumexUI.DataGrid.Core
@using LumexUI.DataGrid.Interfaces

<CascadingValue TValue="DataGridContext<T>" Value="@_context" IsFixed="@true">
    @{
        StartCollectingColumns();
    }

    @if( SelectionMode is not SelectionMode.None )
    {
        <_CheckboxColumn T="T" data-id="@Identifier.New()" />
    }

    @ChildContent

    <Defer>
        @{
            FinishCollectingColumns();
        }
        <_ColumnsCollectedNotifier T="T" />

        <div class="@Slots.Base"
             style="@RootStyle"
             @ref="@_ref"
             @attributes="@AdditionalAttributes"
             @onclickoutside="@OnOutsideClick">
            <div class="@Slots.Wrapper">
                <table class="@Slots.Table">
                    <thead class="@Slots.Thead">
                        <tr class="@Slots.Tr">
                            @_renderColumnHeaders
                        </tr>
                        <tr style="display: block;width: 1px;height: 1px;margin-top: 0.25rem;" />
                    </thead>
                    <tbody class="@Slots.Tbody">
                        @if( Data is null || !Data.Any() )
                        {
                            @_renderEmptyContent
                        }
                        else
                        {
                            @if( Virtualize )
                            {
                                <Virtualize @ref="@_virtualizeRef"
                                            TItem="(int RowIndex, T Data)"
                                            ItemSize="@ItemSize"
                                            ItemsProvider="@ProvideVirtualizedItems"
                                            ItemContent="@(item => builder => RenderRow(builder, item.RowIndex, item.Data))"
                                            Placeholder="@(placeholderContext => builder => RenderPlaceholderRow(builder, placeholderContext))" />
                            }
                            else
                            {
                                @_renderNonVirtualizedRows
                            }
                        }

                        @if( Loading || _pendingDataLoadCts is not null )
                        {
                            @_renderLoadingContent
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </Defer>
</CascadingValue>

@code {
    private void RenderColumnHeaders( RenderTreeBuilder __builder )
    {
        foreach( var column in _columns )
        {
            <th class="@Slots.Th"
                scope="col"
                aria-sort="@column.GetAriaSortValue()"
                data-align="@column.Align.ToLowerInvariant()"
                data-sortable="@Utils.GetDataAttributeValue(column.Sortable ?? false)"
                @onclick="@(() => SortByColumnAsync(column))"
                @key="@column">
                @{
                    column.RenderHeaderCellContent( __builder );
                }
            </th>
        }
    }

    private void RenderNonVirtualizedRows( RenderTreeBuilder __builder )
    {
        var initialRowIndex = 2; // aria-rowindex is 1-based, plus the first row is the header
        var rowIndex = initialRowIndex;
        foreach( var item in _currentNonVirtualizedItems )
        {
            RenderRow( __builder, rowIndex++, item );
        }
    }

    private void RenderRow( RenderTreeBuilder __builder, int rowIndex, T item )
    {
        var selected = Utils.GetDataAttributeValue( SelectedItems.Contains( item ) );

        <tr class="@Slots.Tr"
            style="@RowStyles"
            aria-rowindex="@rowIndex"
            aria-selected="@selected"
            data-odd="@Utils.GetDataAttributeValue(rowIndex % 2 != 0)"
            @key="@item"
            @onclick="@(() => OnRowClickedAsync( item, rowIndex ))">
            @foreach( var column in _columns )
            {
                <td class="@Slots.Td"
                    data-align="@column.Align.ToLowerInvariant()"
                    data-selected="@selected"
                    @key="@column"
                    @onclick="@(() => OnCellClicked( column, item ))"
                    @onclick:stopPropagation="@(column is IEditableColumn)">
                    @* ^^^To prevent row selection when start editing^^^ *@
                    @{
                        column.RenderCellContent( __builder, item );
                    }
                </td>
            }
        </tr>
    }

    private void RenderPlaceholderRow( RenderTreeBuilder __builder, PlaceholderContext placeholderContext )
    {
        <tr class="@Slots.Tr"
            style="@RowStyles"
            aria-rowindex="@(placeholderContext.Index + 1)">
            @foreach( var column in _columns )
            {
                <td class="@Slots.Placeholder"
                    data-align="@column.Align.ToLowerInvariant()"
                    @key="@column">
                    @{
                        column.RenderPlaceholderContent( __builder, placeholderContext );
                    }
                </td>
            }
        </tr>
    }

    private void RenderLoadingContent( RenderTreeBuilder __builder )
    {
        <tr>
            <td class="@Slots.LoadingWrapper" colspan="@(_columns.Count)">
                @if( LoadingContent is not null )
                {
                    @LoadingContent
                }
                else
                {
                    <text>Loading...</text>
                }
            </td>

            @if( Data is null || !Data.Any() )
            {
                <td class="@Slots.EmptyWrapper" />
            }
        </tr>
    }

    private void RenderEmptyContent( RenderTreeBuilder __builder )
    {
        <tr>
            <td class="@Slots.EmptyWrapper" colspan="@(_columns.Count)">
                @if( EmptyContent is not null )
                {
                    @EmptyContent
                }
                else
                {
                    <text>No records available.</text>
                }
            </td>
        </tr>
    }
}