<div class="flex items-center gap-4">
    <LumexChip Color="@ThemeColor.Default">Default</LumexChip>
    <LumexChip Color="@ThemeColor.Primary">Primary</LumexChip>
    <LumexChip Color="@ThemeColor.Secondary">Secondary</LumexChip>
    <LumexChip Color="@ThemeColor.Success">Success</LumexChip>
    <LumexChip Color="@ThemeColor.Warning">Warning</LumexChip>
    <LumexChip Color="@ThemeColor.Danger">Danger</LumexChip>
    <LumexChip Color="@ThemeColor.Info">Info</LumexChip>
</div>