<div class="flex items-center gap-4">
    <LumexChip Radius="@Radius.None">None</LumexChip>
    <LumexChip Radius="@Radius.Small">Small</LumexChip>
    <LumexChip Radius="@Radius.Medium">Medium</LumexChip>
    <LumexChip Radius="@Radius.Large">Large</LumexChip>
    <LumexChip Radius="@Radius.Full">Full</LumexChip>
</div>