<div class="flex gap-4">
    <LumexChip Color="@ThemeColor.Success"
               Variant="@ChipVariant.Flat">
        <StartContent>
            <LumexIcon Icon="@Icons.Rounded.CheckCircle" Size="@new("18")" />
        </StartContent>
        <ChildContent>
            Chip
        </ChildContent>
    </LumexChip>

    <LumexChip Color="@ThemeColor.Secondary"
               Variant="@ChipVariant.Flat">
        <ChildContent>
            Chip
        </ChildContent>
        <EndContent>
            <LumexIcon Icon="@Icons.Rounded.Notifications" Size="@new("18")" />
        </EndContent>
    </LumexChip>
</div>