<div class="flex items-center gap-4">
    <LumexChip Variant="@ChipVariant.Solid" Color="@ThemeColor.Primary">Solid</LumexChip>
    <LumexChip Variant="@ChipVariant.Outlined" Color="@ThemeColor.Primary">Outlined</LumexChip>
    <LumexChip Variant="@ChipVariant.Flat" Color="@ThemeColor.Primary">Flat</LumexChip>
    <LumexChip Variant="@ChipVariant.Shadow" Color="@ThemeColor.Primary">Shadow</LumexChip>
    <LumexChip Variant="@ChipVariant.Light" Color="@ThemeColor.Primary">Light</LumexChip>
    <LumexChip Variant="@ChipVariant.Dot" Color="@ThemeColor.Primary">Dot</LumexChip>
</div>