@namespace LumexUI
@inherits LumexComponentBase

@using S = AlertSlots;

<div role="alert"
     class="@GetStyles(nameof(S.Base))"
     style="@Style"
     title="@Title"
     data-slot="base"
     data-closeable="@Closeable.ToAttributeValue()"
     data-has-title="@HasTitle.ToAttributeValue()"
     data-has-description="@HasDescription.ToAttributeValue()"
     @attributes="@AdditionalAttributes">
    @StartContent

    <div class="@GetStyles(nameof(S.IconWrapper))" data-slot="icon-wrapper">
        <LumexIcon Icon="@AlertIcon" data-slot="alert-icon" />
    </div>

    <div class="" data-slot="main-wrapper">
        @if( HasTitle )
        {
            <div class="@GetStyles(nameof(S.Title))" data-slot="title">
                @(!string.IsNullOrWhiteSpace( Title ) ? (MarkupString)Title : TitleContent)
            </div>
        }

        @if( HasDescription )
        {
            <div class="@GetStyles(nameof(S.Description))" data-slot="description">
                @(!string.IsNullOrWhiteSpace( Description ) ? (MarkupString)Description : DescriptionContent)
            </div>
        }

        @ChildContent
    </div>

    @EndContent

    @if( Closeable || OnClose.HasDelegate )
    {
        <LumexButton Radius="@Radius.Full"
                     Variant="@Common.Variant.Light"
                     aria-label="Close">
            <LumexIcon Icon="@Icons.Rounded.Close" Size="@new("20")" />
        </LumexButton>
    }
</div>