<div class="flex flex-wrap md:inline-grid md:grid-cols-3 gap-4">
    @foreach( var placement in Enum.GetValues<TooltipPlacement>() )
    {
        var placementText = placement.ToDescription().Replace( "-", " " );

        <LumexTooltip Content="@placementText" Placement="@placement">
            <LumexButton Color="@ThemeColor.Danger"
                         Variant="@Variant.Flat"
                         FullWidth="@true"
                         Class="capitalize">
                @placementText
            </LumexButton>
        </LumexTooltip>
    }
</div>