<div class="w-full max-w-60 px-1 py-2 border border-default-200 rounded-small">
    <LumexListbox TValue="string" Color="@_color" Variant="@_variant">
        <LumexListboxItem>New file</LumexListboxItem>
        <LumexListboxItem>Edit file</LumexListboxItem>
        <LumexListboxItem>Share file</LumexListboxItem>
        <LumexListboxItem Color="@ThemeColor.Danger"
                          Class="text-danger">
            Delete file
        </LumexListboxItem>
    </LumexListbox>
</div>

<LumexRadioGroup Label="Color"
                 Orientation="@Orientation.Horizontal"
                 @bind-Value="@_color">
    @foreach( var color in Enum.GetValues<ThemeColor>()[1..] )
    {
        <LumexRadio Value="@color" Color="@color">
            @color.ToString()
        </LumexRadio>
    }
</LumexRadioGroup>

<LumexRadioGroup Label="Variant"
                 Orientation="@Orientation.Horizontal"
                 @bind-Value="@_variant">
    @foreach( var variant in Enum.GetValues<ListboxVariant>() )
    {
        <LumexRadio Value="@variant">
            @variant.ToString()
        </LumexRadio>
    }
</LumexRadioGroup>

@code {
    private ThemeColor _color = ThemeColor.Default;
    private ListboxVariant _variant = ListboxVariant.Solid;
}