<div class="w-full max-w-60 px-1 py-2 border border-default-200 rounded-small">
    <LumexListbox TValue="string" DisabledItems="@(["new", "delete"])">
        <LumexListboxItem Value="@("new")">New file</LumexListboxItem>
        <LumexListboxItem Value="@("edit")">Edit file</LumexListboxItem>
        <LumexListboxItem Value="@("share")">Share file</LumexListboxItem>
        <LumexListboxItem Value="@("delete")"
                          Color="@ThemeColor.Danger"
                          Class="text-danger">
            Delete file
        </LumexListboxItem>
    </LumexListbox>
</div>
