<div class="w-full flex flex-col gap-2">
    <div class="max-w-60 px-1 py-2 border border-default-200 rounded-small">
        <LumexListbox @bind-Value="@_selectedValue">
            <LumexListboxItem Value="@("cat")">Cat</LumexListboxItem>
            <LumexListboxItem Value="@("dog")">Dog</LumexListboxItem>
            <LumexListboxItem Value="@("elephant")">Elephant</LumexListboxItem>
            <LumexListboxItem Value="@("lion")">Lion</LumexListboxItem>
        </LumexListbox>
    </div>
    <p class="text-small text-default-500">
        Selected value: @_selectedValue
    </p>
</div>

@code {
    private string _selectedValue = "cat";
}