@namespace LumexUI.Internal
@inherits LumexComponentBase

<CascadingValue TValue="MenuContext" Value="@_context" IsFixed="@true">
    @{
        _context.StartCollectingItems();
    }
    @ChildContent

    <Defer>
        @{
            _context.StopCollectingItems();
        }
        <div class="@_slots["Base"]( Classes?.Base, Class )"
             style="@Style"
             data-slot="base"
             @attributes="@AdditionalAttributes">
            <LumexComponent As="@As"
                            Class="@_slots["List"]( Classes?.List )"
                            data-slot="list">
                @if( _context.Items.Count > 0 )
                {
                    @_renderItems
                }
                else
                {
                    @_renderEmptyContent
                }
            </LumexComponent>
        </div>
    </Defer>
</CascadingValue>

@code {
    private void RenderItems( RenderTreeBuilder __builder )
    {
        foreach( var (id, item) in _context.Items )
        {
            item.Render( __builder );
        }
    }

    private void RenderEmptyContent( RenderTreeBuilder __builder )
    {
        var content = EmptyContent ?? _emptyContent;

        <li>
            <div class="@_slots["EmptyContent"]( Classes?.EmptyContent )"
                 data-slot="empty-content">
                @content
            </div>
        </li>
    }
}
