@namespace LumexUI.Docs.Client.Components

@if( Sections is { Count: > 0 } )
{
    <div class="hidden fixed z-20 overflow-y-auto top-[4.0625rem] right-[max(0px,calc(50%-40rem))] bottom-0 w-[13rem] py-10 xl:block">
        <div class="px-6">
            <h5 class="text-foreground-700 font-semibold mb-4 text-sm leading-6">
                On this page
            </h5>

            <nav>
                <ul class="text-sm leading-6">
                    @foreach( var section in Sections )
                    {
                        @* TODO: introduce scrollspy to set active state because #fragment change is not recognized by Blazor *@
                        <li class="@(section.Level == 1 ? "ml-4" : default)">
                            <LumexNavLink Href="@(section.Link)"
                                          Color="@ThemeColor.None"
                                          Match="@NavLinkMatch.Prefix"
                                          Class="py-1 w-full data-[active=true]:text-primary">
                                @(section.Title)
                            </LumexNavLink>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
}

@code {
    [Parameter] public List<DocsPageSection>? Sections { get; set; }

    protected override void OnAfterRender( bool firstRender )
    {
        if( firstRender )
        {
            StateHasChanged();
        }
    }
}
