@namespace LumexUI.Docs

<aside class="ld-sidebar xl:pt-10 border-r">
    <LumexDrawer Id="sidebar" Breakpoint="@Breakpoint.Xl">
        <HeaderContent>
            <h5 class="text-semibold">Lumex<span class="text-thin">UI</span></h5>
        </HeaderContent>
        <BodyContent>
            <LumexNav Orientation="@Orientation.Vertical" Class="gap-3 lh-6">
                @_renderNavigation
            </LumexNav>
        </BodyContent>
    </LumexDrawer>
</aside>

@code {
    private void RenderNavigation( RenderTreeBuilder __builder )
    {
        foreach( var category in _navigation.Categories )
        {
            if( category.Locked )
            {
                RenderLockedCategory( __builder, category );
            }
            else
            {
                RenderDefaultCategory( __builder, category );
            }
        }
    }

    private void RenderDefaultCategory( RenderTreeBuilder __builder, NavigationCategory category )
    {
        string pathSegment = BuildPathSegment( category.Name );

        <LumexNavGroup Title="@category.Name" Slots="@_navGroupSlots">
            @if( category.GroupedItems is not null )
            {
                foreach( var group in category.GroupedItems )
                {
                    <li class="ld-sidebar-subgroup">
                        <h6>@group.Key</h6>
                        <ul class="flex flex-column gap-2 border-l h-list-unstyled">
                            @foreach( var item in group.Value.Items )
                            {
                                <LumexNavItem>
                                    <LumexLink Route="@($"{pathSegment}/{item.Link}")">
                                        @item.Name
                                    </LumexLink>
                                </LumexNavItem>
                            }
                        </ul>
                    </li>
                }
            }
            else
            {
                foreach( var item in category.Items )
                {
                    <LumexNavItem>
                        <LumexLink Route="@($"{pathSegment}/{item.Link}")">
                            @item.Name
                        </LumexLink>
                    </LumexNavItem>
                }
            }
        </LumexNavGroup>
    }

    private void RenderLockedCategory( RenderTreeBuilder __builder, NavigationCategory category )
    {
        <LumexNavItem>
            <LumexLink Disabled="@true" Class="flex align-center p-0 text-medium">
                @category.Name
                <LumexIcon Icon="@Icons.Rounded.Lock" Class="ms-2 text-base" />
            </LumexLink>
        </LumexNavItem>
    }
}
