<div class="flex gap-8">
    <LumexSpinner Label="Default" LabelColor="@ThemeColor.Default" Color="@ThemeColor.Default" />
    <LumexSpinner Label="Primary" LabelColor="@ThemeColor.Primary" Color="@ThemeColor.Primary" />
    <LumexSpinner Label="Secondary" LabelColor="@ThemeColor.Secondary" Color="@ThemeColor.Secondary" />
    <LumexSpinner Label="Success" LabelColor="@ThemeColor.Success" Color="@ThemeColor.Success" />
    <LumexSpinner Label="Warning" LabelColor="@ThemeColor.Warning" Color="@ThemeColor.Warning" />
    <LumexSpinner Label="Danger" LabelColor="@ThemeColor.Danger" Color="@ThemeColor.Danger" />
    <LumexSpinner Label="Info" LabelColor="@ThemeColor.Info" Color="@ThemeColor.Info" />
</div>