@rendermode InteractiveAuto

<div class="space-y-6">
    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantLight")"
                 PreviewClasses="@(new() { Preview = "bg-zinc-50" })">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantLight />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantShadow")"
                 PreviewClasses="@(new() { Preview = "bg-zinc-50" })">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantShadow />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantBordered")"
                 PreviewClasses="@(new() { Preview = "bg-zinc-50" })">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantBordered />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantSplitted")"
                 PreviewClasses="@(new() { Preview = "bg-zinc-50" })">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantSplitted />
    </PreviewCode>
</div>