@namespace LumexUI
@inherits LumexComponentBase

<button class="@RootClass"
        style="@RootStyle"
        type="@Type.ToDescription()"
        disabled="@Disabled"
        @attributes="@AdditionalAttributes"
        @onclick="@HandleClickAsync"
        @onclick:stopPropagation="@true">

    @if( !string.IsNullOrWhiteSpace( StartIcon ) && !IconOnly )
    {
        <LumexIcon Icon="@StartIcon" Size="@Size" />
    }

    @ChildContent

    @if( !string.IsNullOrWhiteSpace( EndIcon ) && !IconOnly )
    {
        <LumexIcon Icon="@EndIcon" Size="@Size" />
    }
</button>
