@namespace LumexUI
@inherits LumexComponentBase

<button @attributes="@AdditionalAttributes"
        @onclick="@HandleClickAsync"
        @onclick:stopPropagation
        class="@RootClass"
        style="@RootStyle">

    @if (!string.IsNullOrEmpty(Icon) || IconTemplate is not null)
    {
        <LumexIcon Icon="@Icon" IconTemplate="@IconTemplate" Size="@Size" ViewBox="@ViewBox" />
    }

</button>