@namespace LumexUI
@inherits LumexComponentBase

<header class="@RootClass" style="@RootStyle" @attributes="@AdditionalAttributes">
    <LumexContainer Breakpoint="@Breakpoint">
        @if( BrandContent is not null )
        {
            <div class="@BrandClass">
                @BrandContent
            </div>
        }

        <div class="@ContentClass">
            @ChildContent
        </div>
    </LumexContainer>
</header>
