@namespace LumexUI
@inherits LumexComponentBase

@if (Popover.Opened)
{
    <div class="@Popover.Slots["Wrapper"]()"
         style="position: absolute; z-index: 10000;"
         data-popover="@Popover.Id"
         @onclickoutside="@(async() => await ClickOutsideAsync())">
        <div role="dialog"
             class="@Popover.Slots["Base"](Popover.Classes?.Base, Popover.Class)"
             tabindex="-1"
             data-slot="base"
             @attributes="@Popover.AdditionalAttributes">
            <LumexComponent As="@As"
                            Class="@Popover.Slots["Content"](Popover.Classes?.Content, Class)"
                            Style="@RootStyle"
                            data-slot="content"
                            @attributes="@AdditionalAttributes">
                @ChildContent
            </LumexComponent>
            @if (Popover.ShowArrow)
            {
                <span class="@Popover.Slots["Arrow"](Popover.Classes?.Arrow)"
                      data-slot="arrow" />
            }
        </div>
    </div>
}
