<div class="w-full flex flex-col">
    <LumexTabs Color="@ThemeColor.Primary">
        <LumexTab Id="@("photos")">
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <LumexIcon Icon="@Icons.Rounded.PhotoLibrary" />
                    <span>Photos</span>
                </div>
            </TitleContent>
        </LumexTab>
        <LumexTab Id="@("music")">
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <LumexIcon Icon="@Icons.Rounded.LibraryMusic" />
                    <span>Music</span>
                </div>
            </TitleContent>
        </LumexTab>
        <LumexTab Id="@("videos")">
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <LumexIcon Icon="@Icons.Rounded.VideoLibrary" />
                    <span>Videos</span>
                </div>
            </TitleContent>
        </LumexTab>
    </LumexTabs>
</div>
