<div class="flex gap-4 items-center">
    <LumexAvatar Bordered="@true" Src="https://i.pravatar.cc/150?img=2" />
    <LumexAvatar Bordered="@true" Name="Daniel" />
    <LumexAvatar Bordered="@true" Src="https://i.pravatar.cc/150?img=6" />
    <LumexAvatar Bordered="@true" Name="John Doe" />
    <LumexAvatar Bordered="@true" Src="https://i.pravatar.cc/150?img=9" />
    <LumexAvatar Bordered="@true" Name="Jane" />
</div>