<div class="flex gap-4 items-center">
    <LumexAvatar Color="@ThemeColor.Default"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=2" />
    <LumexAvatar Color="@ThemeColor.Primary"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=6" />
    <LumexAvatar Color="@ThemeColor.Secondary"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=9" />
    <LumexAvatar Color="@ThemeColor.Success"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=11" />
    <LumexAvatar Color="@ThemeColor.Warning"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=12" />
    <LumexAvatar Color="@ThemeColor.Danger"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=24" />
    <LumexAvatar Color="@ThemeColor.Info"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=43" />
</div>