<div class="flex gap-4 items-center">
    <LumexAvatar Radius="@Radius.Small"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=2" />
    <LumexAvatar Radius="@Radius.Medium"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=6" />
    <LumexAvatar Radius="@Radius.Large"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=9" />
    <LumexAvatar Radius="@Radius.Full"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=11" />
</div>