<div class="flex gap-4 items-center">
    <LumexAvatar Class="w-6 h-6"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=2" />
    <LumexAvatar Size="@Size.Small"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=6" />
    <LumexAvatar Size="@Size.Medium"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=9" />
    <LumexAvatar Size="@Size.Large"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=11" />
    <LumexAvatar Class="w-18 h-18"
                 Bordered="@true"
                 Src="https://i.pravatar.cc/150?img=12" />
</div>