@namespace LumexUI
@inherits LumexComponentBase

<LumexNavItem Class="@RootClass"
              Style="@RootStyle"
              AdditionalAttributes="@AdditionalAttributes">
    <a class="@LinkCssClass" href="#" @onclick="@ToggleGroupExpansion" @onclick:preventDefault="@true">
        @Title

        @if( Expandable )
        {
            <LumexIcon Icon="@Icons.Rounded.ExpandMore" Size="@Size.Small" Class="@IconCssClass" />
        }
    </a>

    <LumexExpander Expanded="@(Expandable ? _expanded : true)" Class="@WrapperCssClass">
        <LumexNav Orientation="@Orientation.Vertical" Class="@ContentCssClass">
            @ChildContent
        </LumexNav>
    </LumexExpander>
</LumexNavItem>
