@namespace LumexUI.Grid
@typeparam TGridItem

<CascadingValue TValue="LumexGridRow<TGridItem>" Value="@this" IsFixed="@true">
    <tr class="@ClassToRender" style="@StyleToRender" aria-rowindex="@Index" @onclick="@HandleClickAsync">
        @ChildContent
    </tr>
</CascadingValue>

@if( Expandable )
{
    <tr class="@ExpandableRowCssClass" aria-rowindex="@(Index + 1)">
        <td class="lumex-grid-cell" colspan="@(Grid.RenderedColumns.Count)">
            <LumexExpander Expanded="@Expanded" Class="lumex-grid-cell-content">
                <div class="lumex-grid-cell-content-inner">
                    @Grid.DetailRowContent!( Item )
                </div>
            </LumexExpander>
        </td>
    </tr>
}