@namespace LumexUI.Docs.Client.Components
@rendermode InteractiveWebAssembly

<LumexNavbar Sticky="@true"
             Bordered="@true"
             MaxWidth="@MaxWidth.XLarge"
             Classes="@_navbarClasses">
    <LumexNavbarBrand>
        <LumexLink Href="/"
                   Class="font-bold text-xl text-foreground-900">
            Lumex<span class="font-normal">UI</span>
        </LumexLink>
    </LumexNavbarBrand>

    <LumexNavbarContent Align="@Align.End" Class="hidden sm:flex">
        @foreach( var item in _navItems )
        {
            <LumexNavbarItem>
                <LumexLink Href="@item.Link"
                           Color="@ThemeColor.None"
                           Class="hover:text-orange-500 dark:hover:text-orange-400 data-[active=true]:text-orange-500 dark:data-[active=true]:text-orange-400">
                    @item.Name
                </LumexLink>
            </LumexNavbarItem>
        }

        <LumexNavbarItem Class="h-full">
            <LumexDivider Orientation="@Orientation.Vertical" />
        </LumexNavbarItem>
        @_renderHeadeActions
    </LumexNavbarContent>

    <LumexNavbarContent Align="@Align.End" Class="sm:hidden gap-4">
        @_renderHeadeActions
        <LumexNavbarMenuToggle Class="sm:hidden" />
    </LumexNavbarContent>

    <LumexNavbarMenu Class="pt-0 pb-10 sm:hidden">
        <NavMenu />
    </LumexNavbarMenu>
</LumexNavbar>

@code {
    private void RenderHeaderActions( RenderTreeBuilder __builder )
    {
        <LumexNavbarItem Class="flex">
            <ThemeSwitch />
        </LumexNavbarItem>
        <LumexNavbarItem Class="flex">
            <LumexLink Href="https://github.com/LumexUI/lumexui"
                       External="@true"
                       Class="text-foreground-400 dark:text-foreground-500 hover:text-foreground-600">
                <LumexIcon Icon="@Icons.Brands.GitHub" viewBox="0 0 24 24" />
            </LumexLink>
        </LumexNavbarItem>
    }
}
