@using LumexUI.Services

@inject IPopoverService PopoverService

<div class="flex flex-wrap md:inline-grid md:grid-cols-3 gap-4">
    @foreach( var placement in Enum.GetValues<PopoverPlacement>() )
    {
        var id = $"popover-placement-{placement.ToString()}";

        <LumexButton Color="@ThemeColor.Danger"
                     Variant="@Variant.Flat"
                     OnClick="@(() => TriggerAsync(id))"
                     Class="capitalize"
                     data-popoverref="@id">
            @placement.ToDescription().Replace( "-", " " )
        </LumexButton>

        <LumexPopover Id="@id" Placement="@placement">
            <LumexPopoverContent>
                <div class="px-1 py-2">
                    <div class="text-small font-bold">Oh, hi there!</div>
                    <div class="text-tiny">I am the popover content</div>
                </div>
            </LumexPopoverContent>
        </LumexPopover>
    }
</div>

@code {
    private Task TriggerAsync( string id )
    {
        return PopoverService.TriggerAsync( id );
    }
}