@namespace LumexUI.Docs.Client.Components
@rendermode InteractiveAuto

<LumexNavbar Sticky="@true"
             Blurred="@true"
             Bordered="@true"
             MaxWidth="@MaxWidth.XLarge"
             Classes="@_navbarClasses">
    <LumexNavbarContent>
        <LumexNavbarBrand>
            <p class="font-bold text-xl text-foreground-800">
                Lumex<span class="font-normal">UI</span>
            </p>
        </LumexNavbarBrand>
    </LumexNavbarContent>

    <LumexNavbarContent Align="@Align.End" Class="hidden sm:flex">
        @foreach( var item in _navigationItems )
        {
            <LumexNavbarItem>
                <LumexNavLink Href="@item.Link"
                              Color="@ThemeColor.None"
                              Class="data-[active=true]:text-primary">
                    @item.Name
                </LumexNavLink>
            </LumexNavbarItem>
        }

        <LumexNavbarItem Class="h-full">
            <LumexDivider Orientation="@Orientation.Vertical" />
        </LumexNavbarItem>
        @HeaderActions
    </LumexNavbarContent>

    <LumexNavbarContent Align="@Align.End" Class="sm:hidden gap-4">
        @HeaderActions
        <LumexNavbarMenuToggle Class="sm:hidden" />
    </LumexNavbarContent>

    <LumexNavbarMenu>
        @foreach( var item in _navigationItems )
        {
            <LumexNavbarMenuItem>
                <LumexNavLink Href="@item.Link">
                    @item.Name
                </LumexNavLink>
            </LumexNavbarMenuItem>
        }
    </LumexNavbarMenu>
</LumexNavbar>

@code {
    private static RenderFragment HeaderActions =>
    @<text>
        <LumexNavbarItem>
            @* TODO: Should be a button *@
            <LumexIcon Icon="@Icons.Rounded.DarkMode" />
        </LumexNavbarItem>
        <LumexNavbarItem Class="flex">
            <LumexNavLink Href="https://github.com/LumexUI/lumexui">
                <LumexIcon Icon="@Icons.Brands.GitHub" ViewBox="0 0 24 24" />
            </LumexNavLink>
        </LumexNavbarItem>
    </text>;
}
