@namespace LumexUI.Docs.Components

<aside class="hidden fixed z-20 overflow-y-auto inset-0 top-[4.0625rem] left-[max(0px,calc(50%-40rem))] right-auto w-[16rem] pl-6 pb-10 lg:block scrollbar:h-2 scrollbar:w-2 scrollbar-thumb:rounded scrollbar-thumb:bg-foreground-200 scrollbar-track:rounded scrollbar-track:bg-foreground-100">
    <nav class="lg:text-sm lg:leading-6">
        <div class="sticky top-0 pointer-events-none">
            <div class="h-10 bg-gradient-to-b from-background"></div>
        </div>
        <ul class="space-y-8">
            @foreach( var category in _navigation.Categories )
            {
                RenderCategory( __builder, category );
            }
        </ul>
    </nav>
</aside>

@code {
    private void RenderCategory( RenderTreeBuilder __builder, NavigationCategory category )
    {
        <li>
            <div class="flex items-center gap-2 mb-3 text-foreground">
                <LumexIcon Icon="@category.Icon" Size="@new("20")" />
                <h5 class="text-foreground-900 font-semibold">
                    @category.Name
                </h5>
            </div>
            <ul class="space-y-2 border-l border-divider">
                @foreach( var item in category.Items )
                {
                    var formattedName = item.Replace( "Lumex", "" ).SplitPascalCase();

                    if( category.Name is "Components API" )
                    {
                        <LumexNavLink Href="@($"docs/api/{formattedName.ToKebabCase()}")"
                                      Match="@NavLinkMatch.Prefix"
                                      Class="block border-l pl-4 -ml-px border-transparent text-foreground hover:border-foreground-400 data-[active=true]:text-orange-500 data-[active=true]:border-current">
                            @item.Replace( "Lumex", "" )
                        </LumexNavLink>
                    }
                    else
                    {
                        <li>
                            <LumexNavLink Href="@($"docs/{category.Name.ToKebabCase()}/{formattedName.ToKebabCase()}")"
                                          Match="@NavLinkMatch.Prefix"
                                          Class="block border-l pl-4 -ml-px border-transparent text-foreground hover:border-foreground-400 data-[active=true]:text-orange-500 data-[active=true]:border-current">
                                @formattedName
                            </LumexNavLink>
                        </li>
                    }
                }
            </ul>
        </li>
    }
}