@namespace LumexUI.TestComponents.DataGrid

<LumexGrid Data="@_data" OnUpdate="@OnUpdateHandler">
	<Columns>
		<PasteableColumn Property="@(t => t.Name)" />
		<EditableColumn Property="@(t => t.Price)" />
	</Columns>
</LumexGrid>

@foreach( var evt in _events )
{
	<p>@evt</p>
}

@code {
	private IQueryable<TestModel> _data = new List<TestModel>()
	 {
		 new TestModel("Apple", 0.75),
		 new TestModel("Banana", 1.0),
		 new TestModel("Kiwi", 1.33)
	 }.AsQueryable();

	private List<string> _events = new();

	public record TestModel( string Name, double Price );

	public GridUpdateEventArgs? GridUpdateEventArgs { get; private set; }

	private void OnUpdateHandler( GridUpdateEventArgs args )
	{
		_events.Insert( 0, $"Status - {args.IsValid}" );

		GridUpdateEventArgs = args;
	}
}
