<div class="flex h-8 p-1 space-x-2 items-center bg-white ring-1 ring-black/5 rounded shadow-md">
    <LumexIcon Icon="@Icons.Rounded.FormatAlignLeft" />
    <LumexIcon Icon="@Icons.Rounded.FormatAlignCenter" />
    <LumexIcon Icon="@Icons.Rounded.FormatAlignRight" />
    <LumexDivider Orientation="@Orientation.Vertical" />
    <LumexIcon Icon="@Icons.Rounded.FormatBold" />
</div>
