@namespace LumexUI
@inherits LumexComponentBase

@using S = BadgeSlots;

<div class="@GetStyles(nameof(S.Base))" data-slot="base">
    @ChildContent

    <LumexComponent As="@As"
                    Class="@GetStyles(nameof(S.Badge))"
                    Style="@Style"
                    data-slot="badge"
                    data-invisible="@Invisible.ToAttributeValue()"
                    @attributes="@AdditionalAttributes">
        @if( Content is RenderFragment renderFragment )
        {
            @renderFragment
        }
        else
        {
            @Content
        }
    </LumexComponent>
</div>
