<LumexDataGrid Data="@_users" EmptyContent="@_emptyContent">
    <PropertyColumn Property="@(p => p.Name)" />
    <PropertyColumn Property="@(p => p.Role)" />
    <PropertyColumn Property="@(p => p.Status)" />
</LumexDataGrid>

@code {
    private readonly RenderFragment _emptyContent =
    @<div class="flex flex-col space-y-2">
        <span class="text-3xl">\(o_o)/</span>
        <span>No records found</span>
    </div>;

    private readonly IQueryable<User> _users = Array.Empty<User>().AsQueryable();

    private record User( string Name, string Role, string Status );
}