@page "/docs/customization/colors"
@namespace LumexUI.Docs.Pages
@layout DocsContentLayout

<DocsSection Title="Colors in LumexUI">
    <p>LumexUI offers a flexible color system that includes 2 types of color palettes:</p>
    <ul>
        <li><LumexNavLink Href="/docs/customization/colors#common-colors">Common Colors</LumexNavLink></li>
        <li><LumexNavLink Href="/docs/customization/colors#semantic-colors">Semantic Colors</LumexNavLink></li>
    </ul>
    <p>
        This system provides both stability and adaptability,
        allowing you to create a consistent and meaningful visual identity for your application.
    </p>

    <DocsSection Title="Common Colors">
        <p>
            The <strong>common colors</strong> are based on the full range of the expertly-crafted
            <LumexLink Href="https://tailwindcss.com/docs/customizing-colors" External="@true">Tailwind colors</LumexLink>,
            providing a great starting point if you don’t have your own specific branding in mind.
        </p>
        <CodeSnippet Code="@(new CodeBlock(name: null, snippet: "colorsCommon"))" />
        <p>
            These colors are perfect for static UI elements or when you need precise control
            over specific design elements that don’t need to adapt to a dynamic theme.
        </p>

        <p>As in Tailwind, common colors are represented using a scale from <Code>50</Code> to <Code>950</Code>.</p>
        <CodeSnippet Code="@(new CodeBlock(name: null, snippet: "colorsCommonScale"))" />
    </DocsSection>

    <Callout Variant="@CalloutVariant.Info">
        The common colors are not configurable.
        Any changes made to the Tailwind CSS color palette in the <Code>tailwind.config.js</Code>
        will not affect the C# common colors, and vice versa.
        The C# <Code>Colors</Code> and Tailwind colors operate independently and do not share configuration settings.
    </Callout>

    <DocsSection Title="Semantic Colors">
        <p>
            The <strong>semantic colors</strong> are designed to adapt with the theme,
            delivering meaning and enhancing your brand’s identity.
            Semantic colors are used throughout all LumexUI components and
            are mapped to specific roles, such as primary, secondary, success, or warning.
        </p>
        <CodeSnippet Code="@(new CodeBlock(name: null, snippet: "colorsSemantic"))" />
        <p>
            These colors are perfect for dynamic UI elements and are key to
            achieving a cohesive look that aligns with your brand’s identity.
        </p>

        <p>
            Unlike common colors, semantic colors are not just a scale from <Code>50</Code> to <Code>950</Code>;
            they also include a <Code>default</Code> key, representing the primary color of the scale (e.g., <Code>500</Code>),
            and a <Code>foreground</Code> key, representing the contrasting text color for optimal readability.
        </p>

        <div class="mt-8 grid grid-cols-[repeat(auto-fit,minmax(8rem,1fr))] gap-x-2 gap-y-8 sm:grid-cols-1">
            @foreach( var colorScale in _colorScales )
            {
                <ColorSwatches Title="@colorScale.Title" Scale="@colorScale.Scale" />
            }
        </div>
    </DocsSection>
</DocsSection>

<DocsSection Title="Customization">
    <Callout Variant="@CalloutVariant.Info">
        For detailed color customization examples, visit the
        <LumexNavLink Href="/docs/customization/customizing-theme#customizing-colors"
                      Class="bordered-link">
            Customizing Theme
        </LumexNavLink> page.
    </Callout>
</DocsSection>

@code {
    [CascadingParameter] private DocsContentLayout Layout { get; set; } = default!;

    private readonly Heading[] _headings = new Heading[]
    {
        new("Colors in LumexUI", [
            new("Common Colors"),
            new("Semantic Colors"),
        ]),
        new("Customization")
    };

    private readonly ColorScaleInfo[] _colorScales = new ColorScaleInfo[]
    {
        new("Base", [
            new( "bg", SemanticColors.Light.Background["default"] ),
            new( "text", SemanticColors.Light.Foreground["default"] ),
            new( "overlay", SemanticColors.Light.Overlay["default"] ),
            new( "divider", SemanticColors.Light.Divider["default"] ),
            new( "focus", SemanticColors.Light.Focus["default"] ),
            new( "surface1", SemanticColors.Light.Surface1["default"] ),
            new( "surface2", SemanticColors.Light.Surface2["default"] ),
            new( "surface3", SemanticColors.Light.Surface3["default"] ),
        ]),
        new("Default", SemanticColors.Light.Default),
        new("Primary", SemanticColors.Light.Primary),
        new("Secondary", SemanticColors.Light.Secondary),
        new("Success", SemanticColors.Light.Success),
        new("Warning", SemanticColors.Light.Warning),
        new("Danger", SemanticColors.Light.Danger),
        new("Info", SemanticColors.Light.Info),
    };

    protected override void OnInitialized()
    {
        Layout.Initialize(
            title: "Colors",
            category: "Customization",
            description: "Color customization allows you you define and adjust your components' visual palette for a consistent, cohesive design.",
            _headings
        );
    }

    private record ColorScaleInfo( string Title, LumexUI.Theme.ColorScale Scale );
}
