@using static LumexUI.LumexIcon

<LumexIcon Size="@(new Dimensions("16"))" Icon="@Icons.Rounded.Home" />
<LumexIcon Size="@(new Dimensions("20"))" Icon="@Icons.Rounded.Home" />
<LumexIcon Size="@(new Dimensions("24"))" Icon="@Icons.Rounded.Home" />
<LumexIcon Size="@(new Dimensions("28"))" Icon="@Icons.Rounded.Home" />
<LumexIcon Size="@(new Dimensions("32"))" Icon="@Icons.Rounded.Home" />

<div class="w-9 h-9">
    <LumexIcon Size="@(new Dimensions("100%"))" Icon="@Icons.Rounded.Home" />
</div>
